html {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

}

.page-container {
    width: 1440px;
    margin: 0 auto;
}




.mag-wraper {
    background-image: url("../Frame_1/images/clouds.jpg");
    height: 636px;
}

.main-menu-list {
    display: flex;
    justify-content: space-between;

}

.slogan-numbers-list {
    display: flex;
    justify-content: space-between;

}

.slogan-number {
    color: rgba(0, 90, 170, 1);
    font-size: 48px;

}

.dtp-container {
    display: flex;

}

.op-container {
    display: flex;
    justify-content: space-around;
}

.ed-container {
    display: flex;
}

.seo-list {
    display: flex;
}