@media only screen and (max-width: 375px)

    body
        width: 375px

    .page-container
        width: 375px !important

    .mag-wraper
        width: 375px !important

    .nav-line
        max-width: 375px
        margin-left: 0 !important

    .flexbox-institute
        flex-direction: column

    .checkbox-container
        margin: 0 auto

    .groups-box
        flex-direction: column

    .groups-container
        margin: 0

    .group-article
        font-size: 14px
        margin-left: 42px

    .groups-article-container
        flex-direction: column
        margin-right: 30px

    .slogan-number
        font-size: 25px
        margin-right: 0 !important

    .groups-item
        justify-content: space-between
        width: 300px
        margin-right: 0 !important

    .menu-item
        margin-left: 8px

    .frame-caption
        font-size: 25px
        margin: 0 60px 0 0

    .p-padded
        text-align: right

    .elem3-container
        flex-direction: column

    .head-elem3-item
        margin-left: 29px

    .upper-container
        flex-direction: column

    .s-form-container
        margin-top: 20px

    .menu-button-start-container
        margin: 0
        margin-top: 10px

    .menu-button-container
        margin: 0
        margin-top: 10px

    .groups-container
        padding-top: 60px

    .checkbox
        padding-top: 20px

    .group-section-blue
        width: 375px

    .group-section-yellow
        width: 375px
