.page-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 121px;
  padding-bottom: 99px;
  margin-top: 57px;
  text-decoration: none;
}

.link-nodec {
  text-decoration: none;
  color: #005AAA;
}

.checkbox {
  width: 319px;
  border-width: 0px;
}

.checkbox-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.checkbox-title-padded {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  padding-top: 70px;
}

.checkbox-line {
  margin-left: 40px;
}

.checkbox-list {
  list-style-type: none;
  margin-bottom: 77px;
  font-size: 14px;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.checkbox-item {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.groups-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-groups-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 43px;
}

.groups-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 45px;
}

.groups-box-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 76px;
  padding-bottom: 73px;
}

.group-article {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 26px;
}

.group-article-special {
  font-size: 30px;
  margin-bottom: 26px;
  margin-left: 43px;
}

.groups-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 30px;
}

.groups-container {
  margin-left: 88px;
}

.special-item {
  margin-right: 48px;
  line-height: 1;
  padding-top: 13px;
}

.special-item-violet {
  margin-right: 26px;
  line-height: 1;
  padding-top: 13px;
}

.studies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* justify-content: space-around; */
  margin-left: 45px;
}

.studies-container-wrapper-one {
  margin-bottom: 28px;
}

.studies-container-wrapper-two {
  margin-bottom: 45px;
}

.studies-text {
  margin-bottom: 10px;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
}

.group-section-blue {
  background: #F4F8FF;
  margin-bottom: 44px;
  border-radius: 5px;
  width: 791px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.group-section-yellow {
  background: #FFF7EC;
  margin-top: 52px;
  border-radius: 5px;
  width: 791px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.rectangle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rectangle {
  margin-top: 4px;
}

.checkbox-container {
  margin-top: 2px;
  margin-left: 121px;
}

.special-gold-item {
  margin-top: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc18), to(yellow));
  background: linear-gradient(to right, #ffcc18, yellow);
  min-width: 24px;
  max-height: 36px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 14px;
  font-weight: 500;
}

.special-regular-item {
  margin-top: 12px;
  min-width: 24px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.gold-item-single {
  background: -webkit-gradient(linear, left top, right top, from(#ffcc18), to(yellow));
  background: linear-gradient(to right, #ffcc18, yellow);
  min-width: 24px;
  max-height: 36px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 14px;
  font-weight: 500;
}

.gold-item-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14px;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc18), to(yellow));
  background: linear-gradient(to right, #ffcc18, yellow);
  font-size: 18px;
  min-width: 24px;
  max-height: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.gold-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.button-group {
  border: 1px solid #000000;
  display: inline-block;
  padding: 7px 30px;
  text-decoration: none;
  color: #000;
  border-radius: 40px;
}

.button-group-blue {
  border: 1px solid #005AAA;
  display: inline-block;
  padding: 7px 30px;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 40px;
  background: #005AAA;
}

.button-group-grey {
  border: 1px solid #858585;
  display: inline-block;
  padding: 7px 30px;
  text-decoration: none;
  color: #858585;
  border-radius: 40px;
}

.menu-button-container {
  margin-left: 27px;
}

.menu-button-start-container {
  margin-left: 105px;
}

.button-container {
  margin-top: 39px;
  margin-bottom: 80px;
}

.frame-caption {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
}

.p-padded {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
}

.p-gold {
  line-height: 1.2;
}

.p-regular {
  font-size: 14px;
  font-weight: 500;
}

.p-last1 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 18px;
}

.p-last2 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 43px;
}

.p-last3 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 23px;
}

.p-last4 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 43px;
}

.p-last5 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 27px;
}

.exit-icon {
  border: 1px solid #000000;
  border-radius: 50%;
  padding: calc((100% - 100% / 1.4142) / 2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.exit-icon-white {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  padding: calc((100% - 100% / 1.4142) / 2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=frame-2.css.map */