$modal-left: 76px

.popup-fade
    display: none

    &:before
        content: ''
        background: #000
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100%
        opacity: 0.7
        z-index: 9999

.popup::-webkit-scrollbar
    width: 0

.popup
    position: fixed
    top: 1%
    left: 50.2%
    width: 915px
    margin-left: -200px
    background: #fff
    border: none
    border-radius: 4px
    z-index: 99999
    opacity: 1
    overflow-y: scroll
    background-color: #ffffff
    height: 100%

    &-close
        position: absolute
        top: 10px
        right: 21px

    &-open

        color: rgba(99, 99, 99, 1)
        font-weight: 400
        margin-bottom: 10px

.modal-date
    margin: 0
    padding: 0
    font-size: 30px

.modal-date-grey
    margin: 0 34px 0 0
    padding: 0
    font-size: 20px
    color: #C4C4C4

.modal-code
    margin-left: $modal-left
    margin-bottom: 44px
    line-height: 0
    color: rgba(49, 54, 99, 0.5)

.modal-code-frame
    font-size: 14px
    line-height: 0
    color: rgba(49, 54, 99, 0.5)

.modal-caption
    font-size: 20px
    font-weight: 700

.modal-caption-grey
    font-size: 30px
    color: #C4C4C4
    font-size: 20px

.modal-img
    padding-bottom: 24px

.duo
    font-size: 20px
    font-weight: 700

.start-item
    margin-left: $modal-left
    margin-top: 96px
    margin-bottom: 24px

.popup-container
    width: 915px
    margin: 0 auto

.mod-header
    display: flex
    justify-content: space-between
    margin-left: $modal-left
    margin-right: 105px

.mod-header-grey
    display: flex
    margin-left: $modal-left
    margin-right: 105px

.modal-groups-container
    margin-right: 105px
    // margin-left: 76px
    // margin-top: 138px

.modal-institute
    background: linear-gradient(90.03deg, #005AAA -0.63%, #00BEF3 99.33%)
    min-height: 181px
    margin-bottom: 37px

    &-caption
        font-size: 20px
        font-weight: 700
        margin-top: 31px
        margin-bottom: 19px

.modal-name-card
    margin-right: 77px

.p-medium
    margin-bottom: 0
    margin-top: 0
    font-size: 20px

.p-medium-modal
    margin-bottom: 0
    margin-top: 0
    font-size: 20px
    font-weight: 500

.p-medium-2
    margin-bottom: 0
    margin-top: 0
    font-size: 19px
    text-decoration: underline

.p-small
    margin-bottom: 0
    margin-top: 0
    font-size: 14px

.studies-img
    margin-right: 51px

.group-code

    font-family: 'Roboto'
    font-weight: 400
    margin-top: 6px
    margin-right: 42px
    margin-bottom: 0
    margin-left: 43px

.modal-institute-container
    display: flex
    margin-left: 76px
    margin-right: 89px
    margin-top: 31px
    color: rgba(255, 255, 255, 1)

.modal-wrapper
    display: flex
    flex-direction: column

.modal-institute-img
    margin-right: 38px
    margin-top: 30px

.ed-programm
    margin-left: 76px

.ed-caption
    font-size: 22px
    font-weight: 400
    margin: 0
    margin-top: 43px
    margin-bottom: 7px

.ed-text
    font-size: 32px
    font-weight: 500
    margin: 0
    margin-bottom: 86px

.modal-container-article
    display: flex
    flex-direction: column
    width: 318px
    margin-top: 5.5px
    margin-right: 69px

.modal-inner-wrapper
    display: flex

.inner-wrappex-text
    margin-left: 26px

.modal-description
    display: flex
    justify-content: space-between
    margin-bottom: 41px
    margin-left: 76px

.modal-line
    margin-bottom: 15px

.accordion-container
    margin-left: 63px
    margin-right: 77px
    margin-bottom: 111px
    background: #F4F8FF

// Форма поиска

.s-form-container
    display: flex
    box-sizing: border-box
    margin-right: 120px
    height: 30px

.s-form
    position: relative
    width: 175px
    margin: 0 auto
    outline: none
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2)
    border-radius: 40px

.s-input
    width: 100%
    height: 30px
    padding-left: 10px
    border: none

    border-radius: 20px
    outline: none
    background: white
    color: #9E9C9C

.s-button
    position: absolute
    top: 0
    right: 0px
    width: 42px
    height: 30px
    border: none
    background-color: white
    background-image: url("../images/search-icon.svg")
    background-repeat: no-repeat
    background-size: 12px 10px
    background-position: center
    border-radius: 20px
    cursor: pointer

.elem3-container
    display: flex
    margin-left: 104px
    font-size: 14px

.elem3-item

    margin-top: 10px
    margin-right: 50px
    color: rgba(196, 196, 196, 1)

.head-elem3-item

    font-size: 20px
    font-weight: 400

.kaf-name
    margin-bottom: 15px
    font-size: 20px
    font-weight: 400

.kaf-text
    margin-top: 24px

.accordion-button
    position: relative
    display: flex
    align-items: center
    width: 100%
    padding: 1rem 1.25rem
    font-family: Roboto
    font-size: 20px
    font-weight: 700
    width: 761px
    color: #212529
    text-align: left
    background-color: #fff
    border: 0
    border-radius: 0
    overflow-anchor: none
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease

// .accordion-text
//     font-size: 16px !important
//     font-weight: 400

.blue-background
    display: flex
    background: #F4F8FF
    padding-top: 47px
