.page-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 121px;
  padding-bottom: 99px;
  margin-top: 57px;
  text-decoration: none;
}

.link-nodec {
  text-decoration: none;
  color: #005AAA;
}

.checkbox {
  width: 319px;
  border-width: 0px;
}

.checkbox-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.checkbox-title-padded {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  padding-top: 70px;
}

.checkbox-line {
  margin-left: 40px;
}

.checkbox-list {
  list-style-type: none;
  margin-bottom: 77px;
  font-size: 14px;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.checkbox-item {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.checkbox-item-special {
  margin-bottom: 20px;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}

.upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.groups-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-groups-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 96px;
  margin-bottom: 43px;
}

.groups-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 45px;
}

.groups-box-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 76px;
  padding-bottom: 73px;
}

.groups-box-modal-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 76px;
  padding-bottom: 43px;
}

.group-article {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 26px;
}

.group-article-special {
  font-size: 30px;
  margin-bottom: 26px;
  margin-left: 43px;
}

.groups-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 30px;
}

.groups-container {
  margin-left: 88px;
}

.special-item {
  margin-right: 48px;
  line-height: 1;
  padding-top: 10px;
}

.special-item-golden {
  margin-right: 48px;
  line-height: 1;
}

.special-item-violet {
  margin-right: 26px;
  line-height: 1;
  padding-top: 10px;
}

.studies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* justify-content: space-around; */
  margin-left: 45px;
}

.studies-container-wrapper-one {
  margin-bottom: 28px;
}

.studies-container-wrapper-two {
  margin-bottom: 45px;
}

.studies-text {
  margin-bottom: 10px;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
}

.group-section-blue {
  background: #F4F8FF;
  margin-bottom: 44px;
  border-radius: 5px;
  width: 791px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.group-section-yellow {
  background: #FFF7EC;
  margin-top: 52px;
  border-radius: 5px;
  width: 791px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.rectangle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rectangle {
  margin-top: 4px;
}

.checkbox-container {
  margin-top: 2px;
  margin-left: 121px;
}

.special-gold-item {
  margin-top: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc18), to(yellow));
  background: linear-gradient(to right, #ffcc18, yellow);
  min-width: 24px;
  max-height: 36px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 14px;
  font-weight: 500;
}

.special-regular-item {
  margin-top: 12px;
  min-width: 24px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.gold-item-single {
  background: -webkit-gradient(linear, left top, right top, from(#ffcc18), to(yellow));
  background: linear-gradient(to right, #ffcc18, yellow);
  min-width: 24px;
  max-height: 36px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 14px;
  font-weight: 500;
}

.gold-item-symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14px;
  background: -webkit-gradient(linear, left top, right top, from(#ffcc18), to(yellow));
  background: linear-gradient(to right, #ffcc18, yellow);
  font-size: 18px;
  min-width: 24px;
  max-height: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.gold-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.button-group {
  border: 1px solid #000000;
  display: inline-block;
  padding: 7px 30px;
  text-decoration: none;
  color: #000;
  border-radius: 40px;
}

.button-group-blue {
  border: 1px solid #005AAA;
  display: inline-block;
  padding: 7px 30px;
  font-size: 14px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 40px;
  background: #005AAA;
}

.button-group-blue:hover {
  color: white;
}

.button-group-grey {
  border: 1px solid #858585;
  display: inline-block;
  padding: 7px 30px;
  text-decoration: none;
  color: #858585;
  border-radius: 40px;
}

.menu-button-container {
  margin-left: 27px;
}

.frame-button-start-container {
  margin-left: 59px;
}

.index-button-start-container {
  margin-left: 104px;
}

.button-container {
  margin-top: 39px;
  margin-bottom: 80px;
}

.frame-caption {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
}

.p-padded {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
}

.p-gold {
  line-height: 1.2;
}

.p-regular {
  font-size: 14px;
  font-weight: 500;
}

.p-black {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.p-black-line {
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
  color: black;
  padding-left: 3px;
}

.p-last1 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 32px;
}

.p-last2 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 56px;
}

.p-last3 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 23px;
}

.p-last4 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 37px;
}

.p-last5 {
  padding-top: 7.5px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 27px;
}

.exit-icon {
  border: 1px solid #000000;
  border-radius: 50%;
  padding: calc((100% - 100% / 1.4142) / 2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 19px;
  margin-right: 21px;
}

.exit-icon-white {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  padding: calc((100% - 100% / 1.4142) / 2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 19px;
  margin-right: 21px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-fade {
  display: none;
}

.popup-fade:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.popup::-webkit-scrollbar {
  width: 0;
}

.popup {
  position: fixed;
  top: 1%;
  left: 50.2%;
  width: 915px;
  margin-left: -200px;
  background: #fff;
  border: none;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
  overflow-y: scroll;
  background-color: #ffffff;
  height: 100%;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 21px;
}

.popup-open {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  text-decoration: none;
}

.popup-open:hover {
  color: #636363;
  font-weight: 400;
  margin-bottom: 10px;
  text-decoration: underline;
}

.modal-date {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.modal-date-grey {
  margin: 0 68px 0 0;
  padding: 0;
  font-size: 20px;
  color: #C4C4C4;
}

.modal-code {
  margin-left: 76px;
  margin-bottom: 44px;
  line-height: 0;
  color: rgba(49, 54, 99, 0.5);
}

.modal-code-frame {
  font-size: 14px;
  line-height: 0;
  color: rgba(49, 54, 99, 0.5);
}

.modal-caption {
  font-size: 20px;
  font-weight: 700;
}

.modal-caption-special {
  font-size: 30px;
  font-weight: 500;
  padding-left: 33px;
}

.modal-caption-text {
  font-size: 23px;
  font-weight: 500;
  padding-bottom: 9px;
}

.modal-caption-grey {
  font-size: 30px;
  color: #C4C4C4;
  font-size: 20px;
}

.modal-img {
  padding-bottom: 24px;
}

.duo {
  font-size: 20px;
  font-weight: 700;
}

.start-item {
  margin-left: 76px;
  margin-top: 96px;
  margin-bottom: 24px;
}

.popup-container {
  width: 915px;
  margin: 0 auto;
}

.mod-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 76px;
  margin-right: 105px;
}

.mod-header-grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 76px;
  margin-right: 105px;
}

.modal-groups-container {
  margin-right: 105px;
}

.modal-institute {
  background: linear-gradient(90.03deg, #005AAA -0.63%, #00BEF3 99.33%);
  min-height: 181px;
  margin-bottom: 37px;
}

.modal-institute-caption {
  font-size: 20px;
  font-weight: 700;
  margin-top: 31px;
  margin-bottom: 19px;
}

.modal-institute-caption-special {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;
}

.modal-name-card {
  margin-right: 77px;
}

.p-medium {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 20px;
}

.p-medium-modal {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.p-medium-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 19px;
  text-decoration: underline;
}

.p-small {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
}

.studies-img {
  margin-right: 47px;
}

.studies-img-special {
  margin-right: 59px;
}

.studies-img-special-2 {
  margin-right: 69px;
}

.group-code {
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 6px;
  margin-right: 42px;
  margin-bottom: 0;
  margin-left: 43px;
}

.modal-institute-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 76px;
  margin-right: 89px;
  margin-top: 31px;
  color: white;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-institute-img {
  margin-right: 38px;
  margin-top: 30px;
}

.ed-programm {
  margin-left: 76px;
}

.ed-caption {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 7px;
}

.ed-text {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 44px;
}

.ed-caption-special {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  margin-top: 43px;
  margin-bottom: 7px;
}

.ed-text-special {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 44px;
}

.modal-container-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 318px;
  margin-top: 5.5px;
  margin-right: 69px;
}

.modal-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px;
}

.inner-wrappex-text {
  margin-left: 26px;
}

.modal-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
  margin-left: 76px;
}

.modal-line {
  margin-bottom: 15px;
}

.accordion-container {
  margin-left: 77px;
  margin-right: 77px;
  margin-bottom: 111px;
  background: #F4F8FF;
}

.s-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 120px;
  height: 30px;
}

.s-form {
  position: relative;
  width: 175px;
  margin: 0 auto;
  outline: none;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 40px;
}

.s-input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  background: white;
  color: #9E9C9C;
}

.s-button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 30px;
  border: none;
  background-color: white;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
}

.elem3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 104px;
  font-size: 14px;
}

.elem3-item {
  margin-top: 10px;
  margin-right: 50px;
  color: #c4c4c4;
  cursor: pointer;
}

.head-elem3-item {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.kaf-name {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.kaf-text {
  margin-top: 24px;
}

.accordion-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  width: 761px;
  padding-left: 0;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
}

.blue-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F8FF;
}

.control-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.rectangle {
  height: 5px;
  width: 169px;
  margin-left: 44px;
}

.rectangle-padded {
  padding-bottom: 49px;
}

.control-input {
  margin-top: 4px;
}

.checkbox-point {
  padding-left: 30px;
}
/*# sourceMappingURL=frame-3.css.map */