.accordion-mod-header
    display: flex
    align-items: center
    justify-content: space-around
    margin-right: 105px

.accordion-modal-wrapper
    margin-right: 34px
    line-height: 0.82

.ed-program
    display: flex
    margin-left: 177px
    margin-bottom: 20px

.ed-program-container
    margin-right: 54px

.ed-program-container-2
    margin-right: 56px

.accordion-gradient
    background: #F4F8FF
    padding-top: 47px
    padding-bottom: 37px
    height: auto

.institute-gradient
    background: linear-gradient(90.03deg, #4B3381 -0.63%, #0294A8 99.33%)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)

.modal-institute-container-2
    display: flex
    margin-left: 76px
    margin-right: 89px
    margin-top: 0
    margin-bottom: 44px
    padding-top: 34px
    padding-bottom: 39px
    color: rgba(255, 255, 255, 1)

.modal-institute-img-2
    margin-right: 38px

.accordion-body
    margin-top: 45px
    margin-bottom: 48px

.accordion-body-modal
    margin-top: 34px
    margin-bottom: 23px

.accordion-button collapsed
    margin-right: 5px
