.popup-fade {
  display: none;
}

.popup-fade:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 13%;
  left: 50.2%;
  width: 915px;
  margin-left: -200px;
  background: #fff;
  border: none;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Тело окна */

.modal-date {
  margin: 0;
  padding: 0;
}

.modal-code {
  margin: 0;
}

.popup-container {
  width: 915px;
  margin: 0 auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 76px;
  margin-right: 105px;
}

.modal-groups-container {
  margin-right: 105px;
  margin-left: 76px;
}

.modal-institute {
  background: linear-gradient(90.03deg, #005AAA -0.63%, #00BEF3 99.33%);
  min-height: 181px;
  margin: 0;
}

.modal-institute-caption {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;


}

.p-medium {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 20px;
}

.p-small {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;

}

.modal-institute-container {
  display: flex;
  margin-left: 76px;
  margin-right: 89px;
  margin-top: 31px;
  color: rgba(255, 255, 255, 1);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-institute-img {
  margin-right: 38px;
  margin-top: 30px;
}