.page-article {
    margin-left: 121px;
    padding-bottom: 99px;
    font-weight: 500;
}



.checkbox {
    
    width: 319px;
    border-width: 0px;
}

.checkbox-list {
    list-style-type: none;
    margin-bottom: 77px;
    

}

.checkbox-item {
    margin-bottom: 27px;
}