@charset "UTF-8";
@import url("./frame-2.css");
@import url("./frame-3.css");
@import url("./frame-4.css");
@import url("./frame-5.css");
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto";
  background-color: white;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  margin: 0;
}

.main-menu {
  font-size: 14px;
  padding-top: 41px;
  margin-left: 119px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

.main-caption {
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 53px;
}

.directions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-top: 57px;
  margin-right: 150px;
  padding: 0;
}

.page-article {
  font-size: 30px;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
}

.mag-wraper {
  background-image: url("../images/clouds.jpg");
  height: 636px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.flexbox-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexbox-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-seo {
  padding-bottom: 106px;
  margin-left: 80px;
  /* сумма с отступом агента - переделать */
}

.seo-item {
  margin-right: 100px;
}

.slogan-number {
  color: #005aaa;
  font-size: 36px;
  margin-left: 0;
  margin-right: 14px;
}

.slogan-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 48px;
}

.slogan-block {
  margin-left: 119px;
}

.slogan-open-day {
  margin-right: 150px;
}

.op-info {
  margin-bottom: 234px;
  padding-top: 69px;
  margin-left: 119px;
  padding-right: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 377px 377px 377px;
      grid-template-columns: 377px 377px 377px;
  -ms-grid-rows: 148px 148px 148px;
      grid-template-rows: 148px 148px 148px;
  max-height: 160px;
}

.info-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.info-link {
  margin-top: auto;
}

.op-container {
  display: -webkit-box;
}

.op-column {
  list-style-type: none;
  margin-left: 0;
  margin-right: 40px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.op-article-text {
  margin-top: 0;
  margin-bottom: 67px;
  margin-left: 119px;
}

.opn-item {
  margin-top: 0;
  margin-bottom: 31px;
}

.info-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.add-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1184px;
  margin-left: 119px;
  padding-bottom: 174px;
}

/* Скролбар */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #005aaa;
}

/*   */
.op-item {
  display: inline-block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 54px;
  word-wrap: break-word;
  max-width: 266px;
  min-height: 300px;
  overflow: hidden;
  background-image: url("./images/background/Rectangle-1.png");
}

.op-list {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: red green;
  width: 1268px;
  height: 300px;
  white-space: nowrap;
  margin-bottom: 174px;
  display: block;
  margin-left: 119px;
}

.op-img-arrow {
  margin-left: auto;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: ellipsis;
  margin-left: 119px;
}

.review-texts {
  width: 558px;
  margin-left: 108px;
}

.ed-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 119px;
}

.ed-column {
  padding: 0;
  margin-left: 0;
  margin-right: 88px;
  list-style-type: none;
}

.ed-item {
  margin-bottom: 10px;
}

.article-explosion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 119px;
  margin-bottom: 68px;
}

.article-text {
  margin-top: 145px;
  margin-bottom: 0;
  margin-right: 150px;
  margin-left: 119px;
}

.slogan-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 115px;
}

.flexbox-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 47px;
}

.open-day-block-1 {
  height: 241px;
  background-image: url("../images/background/Rectangle-1.png");
}

.open-day-block-2 {
  height: 241px;
  background-image: url("../images/background/Rectangle-2.png");
}

.open-day-block-3 {
  height: 241px;
  background-image: url("../images/background/Rectangle-3.png");
}

.open-day-block-4 {
  height: 241px;
  background-image: url("../images/background/Rectangle-4.png");
  color: white;
}

.block-place {
  margin: 0;
}

.block-head-text {
  margin: 0;
}

.howto-block {
  background-image: url("../images/background/howto-background.png");
  min-height: 514px;
}

.howto-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.name {
  margin-top: 62px;
  margin-bottom: 8px;
}

.p-review {
  margin-top: 38px;
}
/*# sourceMappingURL=styles.css.map */