@import url("./frame-2.css")
@import url("./frame-3.css")
@import url("./frame-4.css")
@import url("./frame-5.css")
@import url("./adaptive.css")
@import url("./timeline.css")

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Black.woff2') format('woff2')
    font-weight: 900
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Bold.woff2') format('woff2')
    font-weight: bold
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Medium.woff2') format('woff2')
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto-Regular.woff2') format('woff2')
    font-weight: normal
    font-style: normal
    font-display: swap

$margin-left: 119px
$margin-right: 150px
$modal-left: 76px

html
    height: 100%

body
    font-family: 'Roboto'
    background-color: white
    margin: 0
    display: flex
    flex-direction: column
    justify-content: center

p
    margin: 0

.nav-line
    margin-left: $margin-left

.main-menu
    font-size: 14px
    padding-top: 41px
    margin-left: $margin-left

.menu-item
    display: flex
    align-self: center
    margin-right: 80px

.menu-item-first
    display: flex
    align-self: center
    margin-right: 80px

.main-flexbox
    display: flex
    justify-content: space-between
    padding-inline-start: 0
    list-style-type: none

.main-caption
    margin-top: 0
    margin-bottom: 52px
    font-size: 53px

.directions-list
    display: flex
    justify-content: space-between
    list-style-type: none
    margin-top: 57px
    margin-right: $margin-right
    padding: 0

.page-article
    font-size: 30px

.head-row
    font-size: 30px

.page-container
    width: 1440px
    margin: 0 auto

.mag-wraper
    background-image: url("../images/clouds.jpg")
    height: 636px

.flexbox
    display: flex
    list-style-type: none

    &-between
        display: flex
        justify-content: space-between
        list-style-type: none
        flex-wrap: wrap

    &-around
        display: flex
        justify-content: space-around
        list-style-type: none
        flex-wrap: wrap

    &-special
        display: flex
        list-style-type: none
        flex-wrap: wrap
        padding-inline-start: 0
        font-weight: 500

    &-column
        display: flex
        list-style-type: none
        flex-wrap: wrap
        flex-direction: column
        padding-inline-start: 0
        margin-left: 30px

    &-institute
        display: flex

.menu-item:nth-child(2)
    color: #005AAA

.banner-seo
    padding-bottom: 106px
    margin-left: 80px
    /* сумма с отступом агента - переделать */

.p-margin-reset

.seo-item
    margin-right: 100px

.slogan-number
    color: rgba(0, 90, 170, 1)
    font-family: 'Roboto'
    font-size: 40px
    font-weight: 700
    margin-left: 0
    margin-right: 14px

.slogan-number-violet
    font-size: 30px
    font-weight: 700
    margin-left: 0
    margin-right: 14px
    color: rgba(163, 43, 155, 1)

.slogan-number-start
    color: rgba(0, 90, 170, 1)
    margin-block-end: 0
    font-size: 20px
    font-weight: 900

.slogan-number-start-violet
    font-size: 20px
    color: rgba(163, 43, 155, 1)
    font-weight: 900

.slogan-item
    display: flex
    align-items: center
    margin-right: 48px

.slogan-block
    margin-left: 119px

.slogan-open-day
    margin-right: $margin-right

.op-info
    margin-bottom: 234px
    padding-top: 69px
    margin-left: $margin-left
    padding-right: $margin-right
    display: grid
    grid-template-columns: 377px 377px 377px
    grid-template-rows: 148px 148px 148px
    max-height: 160px

.info-img
    align-self: center

.info-link
    margin-top: auto

.op-container
    display: -webkit-box

.op-column
    list-style-type: none
    margin-left: 0
    margin-right: 40px
    padding-inline-start: 0
    display: flex
    flex-direction: column

.op-article-text
    margin-top: 0
    margin-bottom: 67px
    margin-left: $margin-left

.opn-item
    margin-top: 0
    margin-bottom: 31px

.info-item
    display: inline-flex
    justify-content: space-around
    flex-direction: column
    margin-right: 54px
    align-items: center

.info-list
    display: flex
    align-self: center
    padding-inline-start: 0

.add-info
    display: flex
    justify-content: space-between
    min-width: 1184px
    margin-left: $margin-left
    padding-bottom: 174px

/* Скролбар */

::-webkit-scrollbar
    width: 12px
    height: 10px

::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    border-radius: 10px

::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgba(0, 90, 170, 1)

/*   */

.op-item
    display: inline-block
    justify-content: space-around
    margin-right: 54px
    word-wrap: break-word
    max-width: 266px
    min-height: 300px
    overflow: hidden
    background-image: url('./images/background/Rectangle-1.png')

.op-list
    overflow-x: scroll
    overflow-y: hidden
    scrollbar-color: red green
    width: 1268px
    height: 300px
    white-space: nowrap
    margin-bottom: 174px
    display: block
    margin-left: $margin-left

.op-img-arrow
    margin-left: auto

.review
    display: flex
    text-overflow: ellipsis
    margin-left: $margin-left

    &-texts
        width: 558px
        margin-left: 108px

.ed-flexbox
    display: flex
    margin-left: $margin-left

.ed-column
    padding: 0
    margin-left: 0
    margin-right: 88px
    list-style-type: none

.ed-item
    margin-bottom: 10px

.article-explosion
    display: flex
    margin-left: $margin-left
    margin-bottom: 68px

.article-text
    margin-top: 145px
    margin-bottom: 0
    margin-right: $margin-right
    margin-left: $margin-left

.slogan-wrapper
    display: flex
    justify-content: space-between
    margin-top: 115px

.flexbox-date
    display: flex
    flex-direction: column
    margin-bottom: 47px

.block-date
    font-size: 70px
    white-space: nowrap

.open-day-block-1
    height: 241px
    background-image: url("../images/background/Rectangle-1.png")

.open-day-block-2
    height: 241px
    background-image: url("../images/background/Rectangle-2.png")

.open-day-block-3
    height: 241px
    background-image: url("../images/background/Rectangle-3.png")

.open-day-block-4
    height: 241px
    background-image: url("../images/background/Rectangle-4.png")
    color: white

.block-place
    margin: 0
    font-size: 14px
    font-weight: 400

.block-head-text
    margin: 0
    white-space: nowrap
    font-size: 20px

// Выпадающий блок

.howto-block
    background-image: url("../images/background/howto-background.png")
    min-height: 514px

.howto-list
    display: flex
    justify-content: space-around
    list-style-type: none



.name
    margin-top: 62px
    margin-bottom: 8px

.p-review
    margin-top: 38px

.p-acc
    padding-bottom: 10px
    margin: 0 95px 0 107px

.vertical-rectangle
    width: 4px
    margin-right: 23px
    margin-top: -5px


.block-flexbox
    display: flex
    padding-top: 48px


.wide-line
    margin-left: 108px
