@import url("./frame_2.css");
@import url("./frame-3.css");

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
    font-display: swap;
}



html {
    height: 100%;
}

body {
    font-family: "Roboto";
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

}

.main-menu {
    font-size: 14px;
    padding-top: 41px;
    margin-left: 127px;
}

.page-article {
    font-size: 30px;
}

.page-container {
    width: 1440px;
    margin: 0 auto;
}

.mag-wraper {
    background-image: url("../images/clouds.jpg");
    height: 636px;


}

.flexbox {
    display: flex;
    list-style-type: none;

}

.flexbox-between {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}


.banner-seo {
    padding-bottom: 106px;
}

.slogan-number {
    color: rgba(0, 90, 170, 1);
    font-size: 36px;

}

.slogan-block {
    margin-left: 88px;
    margin-top: 99px;
}

.op-info {
    padding-bottom: 159px;
}

.op-container {
    display: flex;
    justify-content: space-around;

}

.op-column {
    list-style-type: none;
}



.info-item {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 54px;
    align-items: center;

}

.add-info {
    display: flex;
    justify-content: space-around;
    min-width: 1184px;
    margin-left: 118px;
    padding-bottom: 174px;
}



/* Скролбар */

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 90, 170, 1);
}

/*   */



.op-item {
    display: inline-block;
    justify-content: space-around;
    margin-right: 54px;
    word-wrap: break-word;
    max-width: 266px;
    min-height: 300px;
    overflow: hidden;
    background-image: url('./images/background/Rectangle-1.png');



}

.op-list {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: red green;
    width: 1268px;
    height: 300px;
    white-space: nowrap;
    margin-bottom: 174px;
    display: block;
    margin-left: 120px;


}

.review {
    display: flex;
    text-overflow: ellipsis;
}

.review-texts {
    width: 558px;
    margin-left: 108px;
}

.ed-column {
    list-style-type: none;
}