.timeline-container
    margin-top: 200px
    
.timeline-list
    min-height: 71px
    display: flex
    align-items: center
    background-image: url('../images/timeline.svg')
    color: rgba(255, 255, 255, 1)
    list-style-type: none
    padding-left: 60px

.timeline-item
    padding-right: 49px
    line-height: 1.5

.timeline-date
    font-size: 16px
    font-weight: 700

.timeline-day
    font-size: 12px
    font-weight: 700